
<br>
  
  <div class="container">
    <div class="row">
        <div *ngFor="let user of response?.therapists;let i=index" class="col-4 mb-2 text-center">
            <div class="d-flex   p-3 card h-100 ">
                <div class="card-block">
                    <img height="70" width="100" style="border-radius:50% ;" [src]="user.profilePicFile" alt="user.firstName">
                    <h4 style="color: rgb(19, 134, 134);" class="card-title">{{user?.nameAr}}</h4>
                    <p>rating:({{user?.rating}})</p>
                    <p style="color:gray;" class="card-text font-weight-bold">{{user?.titleAr}}</p>
                    <p style="color:gray;" class="card-text">{{user?.mainSpec2Ar}}</p>
                </div>
                <div class="btn-group h-50 w-20 mt-3">
                  <a href="#" class="btn btn-primary">book Now</a>
                  <a href="#" class="btn btn-secondary">View Profile</a>
                </div>
            </div>
        </div>
    </div>
  </div>
 
 

